## Imports

In [1]:
import pandas as pd
import subprocess
import ast

## Main

In [2]:
results = pd.DataFrame(columns = ['dataset', 'technique', 'model', 'f1_score', 'processing_time', 'memory_usage'])

for dataset in ['df_iris', 'df_heart', 'df_breast', 'df_creditcard']:
    for technique in ['none', 'PCA', 'IncPCA', 'ICA', 'LDA', 'SMOTE']:
        for model in ['Naive Bayes', 'SVM', 'MLP', 'Tree', 'KNN', 'LogReg', 'GBC']:    

            cmd = ['python', 'TCC_analysis.py', dataset, technique, model]
            completed_process = subprocess.run(cmd, stdout=subprocess.PIPE, text=True, check=True)

            subprocess_output = completed_process.stdout
            subprocess_output = ast.literal_eval(subprocess_output)

            results.loc[len(results)] = subprocess_output
    print(f'{dataset} done')

df_iris done
df_heart done
df_breast done
df_creditcard done

In [3]:
results

,dataset,technique,model,f1_score,processing_time,memory_usage
0,df_iris,none,Naive Bayes,0.993333,0.054584,68.119141
1,df_iris,none,SVM,1.000000,0.058146,67.345703
2,df_iris,none,MLP,0.993333,0.886823,201.218750
3,df_iris,none,Tree,0.993347,0.052000,70.250977
4,df_iris,none,KNN,0.993333,0.077074,81.955078
...,...,...,...,...,...,...
163,df_creditcard,SMOTE,MLP,0.999262,49.768179,34205.346680
164,df_creditcard,SMOTE,Tree,0.998566,28.040533,34205.623047
165,df_creditcard,SMOTE,KNN,0.998621,11.681390,34205.646484
166,df_creditcard,SMOTE,LogReg,0.996215,3.181477,54326.099609
167,df_creditcard,SMOTE,GBC,0.998891,971.346937,34208.330078

## Save result into a csv file

In [4]:
results.to_csv('results.csv', index=False)