## Imports

In [14]:
import pandas as pd
import subprocess
import ast

## Main

In [15]:
results = pd.DataFrame(columns = ['dataset', 'technique', 'model', 'f1_score', 'processing_time', 'memory_usage'])

for dataset in ['df_iris', 'df_heart', 'df_breast', 'df_creditcard']:
    for technique in ['none', 'PCA', 'IncPCA', 'NMF', 'ICA', 'LDA']:
        for model in ['SVM', 'MLP', 'Tree', 'KNN', 'LogReg', 'GBC']:    

            cmd = ['python', 'TCC_analysis.py', dataset, technique, model]
            completed_process = subprocess.run(cmd, stdout=subprocess.PIPE, text=True, check=True)

            subprocess_output = completed_process.stdout
            subprocess_output = ast.literal_eval(subprocess_output)

            results.loc[len(results)] = subprocess_output
    print(f'{dataset} done')

df_iris done
df_heart done
df_breast done
df_creditcard done

In [18]:
results

           dataset technique   model  f1_score  processing_time  memory_usage
0          df_iris      none     SVM  1.000000         0.049890     71.965820
1          df_iris      none     MLP  0.993333         0.886104    205.577148
2          df_iris      none    Tree  0.993347         0.066487     74.348633
3          df_iris      none     KNN  0.993333         0.070069    116.619141
4          df_iris      none  LogReg  0.993333         0.084119    173.014648
..             ...       ...     ...       ...              ...           ...
139  df_creditcard       LDA     MLP  0.998831        20.144661  13418.303711
140  df_creditcard       LDA    Tree  0.999393         0.621028  13417.103516
141  df_creditcard       LDA     KNN  0.999350       228.194367  13459.287109
142  df_creditcard       LDA  LogReg  0.997844         0.614238  17852.976562
143  df_creditcard       LDA     GBC  0.997923        19.199195  13420.279297

[144 rows x 6 columns]

## Save result into a csv file

In [17]:
results.to_csv('results.csv', index=False)