## Imports

In [9]:
import pandas as pd
import subprocess
import ast

## Main

In [10]:
results = pd.DataFrame(columns = ['dataset', 'technique', 'model', 'f1_score', 'processing_time', 'memory_usage'])

# We have to use subprocesses to avoid python's memory reuse, a feature were deleted files stay in memory for a while to possibly be reused, something that destroys the analysis.
# Using this method, each iteration consumes 1.5 to 4 times more memory than doing the analysis in one script.  
for dataset in ['df_iris', 'df_heart', 'df_breast', 'df_creditcard']:
    for technique in ['none', 'PCA', 'IncPCA']:
        for model in ['SVM', 'MLP', 'Tree', 'KNN', 'LogReg']:

            cmd = ['python', 'TCC_analysis.py', dataset, technique, model]
            completed_process = subprocess.run(cmd, stdout=subprocess.PIPE, text=True, check=True)

            subprocess_output = completed_process.stdout
            subprocess_output = ast.literal_eval(subprocess_output)

            results.loc[len(results)] = subprocess_output

In [11]:
results

          dataset technique   model  f1_score  processing_time  memory_usage
0         df_iris      none     SVM  1.000000         0.066867     72.839844
1         df_iris      none     MLP  0.993333         0.877561    206.276367
2         df_iris      none    Tree  0.993347         0.050426     75.004883
3         df_iris      none     KNN  0.993333         0.087514     94.843750
4         df_iris      none  LogReg  0.993333         0.077927    134.600586
5         df_iris       PCA     SVM  0.973329         0.056261     68.129883
6         df_iris       PCA     MLP  0.979982         0.881315    202.022461
7         df_iris       PCA    Tree  1.000000         0.067846     70.272461
8         df_iris       PCA     KNN  0.993347         0.080822     90.997070
9         df_iris       PCA  LogReg  0.986701         0.081240    116.224609
10        df_iris    IncPCA     SVM  0.973329         0.085632     72.472656
11        df_iris    IncPCA     MLP  0.979989         0.956001    205.236328
12        df_iris    IncPCA    Tree  1.000000         0.093294     74.183594
13        df_iris    IncPCA     KNN  0.993347         0.171351    101.040039
14        df_iris    IncPCA  LogReg  0.986701         0.146827    119.720703
15       df_heart      none     SVM  0.828556         0.073102    153.736328
16       df_heart      none     MLP  0.820376         2.365572    284.125977
17       df_heart      none    Tree  0.758478         0.066214    155.508789
18       df_heart      none     KNN  0.834788         0.119458    175.610352
19       df_heart      none  LogReg  0.818772         0.083563    279.082031
20       df_heart       PCA     SVM  0.705707         0.059187    130.624023
21       df_heart       PCA     MLP  0.698194         1.549347    260.693359
22       df_heart       PCA    Tree  0.613866         0.050044    132.676758
23       df_heart       PCA     KNN  0.612392         0.094385    152.553711
24       df_heart       PCA  LogReg  0.695218         0.082048    197.878906
25       df_heart    IncPCA     SVM  0.702528         0.091393    133.342773
26       df_heart    IncPCA     MLP  0.717755         1.395830    136.728516
27       df_heart    IncPCA    Tree  0.626429         0.092702    135.332031
28       df_heart    IncPCA     KNN  0.612385         0.123755    162.076172
29       df_heart    IncPCA  LogReg  0.695218         0.080451    194.382812
30      df_breast      none     SVM  0.975296         0.069582    332.763672
31      df_breast      none     MLP  0.982332         3.293959    463.424805
32      df_breast      none    Tree  0.922548         0.130518    334.738281
33      df_breast      none     KNN  0.966307         0.265455    459.744141
34      df_breast      none  LogReg  0.980602         0.141702    589.059570
35      df_breast       PCA     SVM  0.903119         0.094706    206.139648
36      df_breast       PCA     MLP  0.905175         2.131174    208.334961
37      df_breast       PCA    Tree  0.849051         0.072171    208.117188
38      df_breast       PCA     KNN  0.900197         0.166095    220.090820
39      df_breast       PCA  LogReg  0.904919         0.094238    250.049805
40      df_breast    IncPCA     SVM  0.903119         0.125930    207.600586
41      df_breast    IncPCA     MLP  0.903216         2.015704    210.481445
42      df_breast    IncPCA    Tree  0.847348         0.141366    209.179688
43      df_breast    IncPCA     KNN  0.900197         0.187031    220.828125
44      df_breast    IncPCA  LogReg  0.904919         0.126304    274.011719
45  df_creditcard      none     SVM  0.998630        14.948204  24741.583008
46  df_creditcard      none     MLP  0.999488        51.678624  24743.962891
47  df_creditcard      none    Tree  0.999114        13.164166  24743.333984
48  df_creditcard      none     KNN  0.999319        10.776249  24867.693359
49  df_creditcard      none  LogReg  0.998352         1.782297  54954.073242
50  df_creditcard       PCA     SVM  0.995562         1.002136  13415.319336
51  df_creditcard       PCA     MLP  0.995562        14.131213  13417.125000
52  df_creditcard       PCA    Tree  0.994281         0.695240  13417.246094
53  df_creditcard       PCA     KNN  0.995542         6.830971  13429.464844
54  df_creditcard       PCA  LogReg  0.995562         0.436943  15953.286133
55  df_creditcard    IncPCA     SVM  0.995562         1.999004  13419.331055
56  df_creditcard    IncPCA     MLP  0.995562        17.378088  13421.207031
57  df_creditcard    IncPCA    Tree  0.994281         1.799350  13421.762695
58  df_creditcard    IncPCA     KNN  0.995542         9.242511  13432.170898
59  df_creditcard    IncPCA  LogReg  0.995562         1.356375  15958.529297

## Save result into a csv file

In [12]:
results.to_csv('results.csv', index=False)