## Imports

In [22]:
import pandas as pd
import subprocess
import ast

## Plot

## Main

In [23]:
results = pd.DataFrame(columns = ['dataset', 'technique', 'model', 'f1_score', 'processing_time', 'memory_usage'])

# We have to use subprocesses to avoid python's memory reuse, a feature were deleted files stay in memory for a while to possibly be reused, something that destroys the analysis.
# Using this method, each iteration consumes 1.5 to 4 times more memory than doing the analysis in one script.  
for dataset in ['df_iris', 'df_heart', 'df_breast']:
    for technique in ['None', 'PCA', 'IncPCA']:
        for model in ['SVM', 'MLP', 'Tree', 'KNN', 'LogReg']:

            cmd = ['python', 'TCC_analysis.py', dataset, technique, model]
            completed_process = subprocess.run(cmd, stdout=subprocess.PIPE, text=True, check=True)

            subprocess_output = completed_process.stdout
            subprocess_output = ast.literal_eval(subprocess_output)

            results.loc[len(results)] = subprocess_output

In [24]:
results

      dataset technique   model  f1_score  processing_time  memory_usage
0     df_iris      None     SVM  1.000000         0.057241     73.619141
1     df_iris      None     MLP  0.993333         0.956217     79.423828
2     df_iris      None    Tree  1.000000         0.061684     76.077148
3     df_iris      None     KNN  0.993333         0.085077     95.775391
4     df_iris      None  LogReg  0.993333         0.090984    135.850586
5     df_iris       PCA     SVM  0.973329         0.055424     68.895508
6     df_iris       PCA     MLP  0.980016         0.911875     74.944336
7     df_iris       PCA    Tree  1.000000         0.060269     71.701172
8     df_iris       PCA     KNN  0.993347         0.089769     83.335938
9     df_iris       PCA  LogReg  0.986701         0.081943    117.492188
10    df_iris    IncPCA     SVM  0.973329         0.100173     73.826172
11    df_iris    IncPCA     MLP  0.980009         1.025455     77.786133
12    df_iris    IncPCA    Tree  1.000000         0.085457     75.379883
13    df_iris    IncPCA     KNN  0.993347         0.115542     94.953125
14    df_iris    IncPCA  LogReg  0.986701         0.120486    120.873047
15   df_heart      None     SVM  0.828556         0.083865    154.441406
16   df_heart      None     MLP  0.810001         2.466115    157.076172
17   df_heart      None    Tree  0.768753         0.069828    156.661133
18   df_heart      None     KNN  0.834788         0.120231    168.907227
19   df_heart      None  LogReg  0.818772         0.081797    280.323242
20   df_heart       PCA     SVM  0.705707         0.074665    131.970703
21   df_heart       PCA     MLP  0.693169         1.313898    133.409180
22   df_heart       PCA    Tree  0.617015         0.060292    133.980469
23   df_heart       PCA     KNN  0.612392         0.105817    145.850586
24   df_heart       PCA  LogReg  0.695218         0.067114    199.215820
25   df_heart    IncPCA     SVM  0.702528         0.090750    134.423828
26   df_heart    IncPCA     MLP  0.685649         1.746712    137.068359
27   df_heart    IncPCA    Tree  0.645843         0.093604    136.136719
28   df_heart    IncPCA     KNN  0.612385         0.130172    155.531250
29   df_heart    IncPCA  LogReg  0.695218         0.100476    195.482422
30  df_breast      None     SVM  0.975296         0.094117    333.761719
31  df_breast      None     MLP  0.980568         3.563177    336.229492
32  df_breast      None    Tree  0.926050         0.118289    335.484375
33  df_breast      None     KNN  0.966307         0.299773    463.369141
34  df_breast      None  LogReg  0.980602         0.135888    590.043945
35  df_breast       PCA     SVM  0.903119         0.089464    207.253906
36  df_breast       PCA     MLP  0.901492         2.242755    209.213867
37  df_breast       PCA    Tree  0.849051         0.081477    209.077148
38  df_breast       PCA     KNN  0.900197         0.171094    252.519531
39  df_breast       PCA  LogReg  0.904919         0.103671    250.713867
40  df_breast    IncPCA     SVM  0.903119         0.141745    208.241211
41  df_breast    IncPCA     MLP  0.903216         2.228887    210.973633
42  df_breast    IncPCA    Tree  0.847348         0.125606    210.031250
43  df_breast    IncPCA     KNN  0.900197         0.195317    253.121094
44  df_breast    IncPCA  LogReg  0.904919         0.149959    252.333008